.page {
    
}

content.contents {
    padding-block: 3rem;
    flex-grow: 3;
    align-items: center;
}

@media (min-width: 1200px) {
    content.contents {
        min-height: calc(100vh - 200px - 3vh);
    }
}