@import "upload-bar.css";
@import "search-bar.css";

.page-gallery {
    display: flex;
    flex-direction: column;
    min-height: unset;
    height: fit-content;
    align-content: space-around;
}


section.gallery {
    padding-block: 2rem;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 auto;
    margin-block: 2rem;

    align-items: center;

    justify-content: space-evenly;

}
card.img-container:hover {
    cursor: pointer;
}
card.img-container {
    flex-direction: column;
    width: 17.5vw;
    margin-block: 2rem;
    background-color: var(--clr7);
    box-shadow: 0.2rem 0.25rem 0.7rem var(--clr-main-shadow-light);
}

@media (min-width: 1400px) {
    card.img-container {
        width: 13.8vw;
    }
}

@media (max-width: 800px) {
    card.img-container {
        width: 20vw;
    }
}
@media (max-width: 600px) {
    section.gallery{
        justify-content: space-around;
    }
    card.img-container {
        width: 45vw;
    }
}
@media (max-width: 375px) {
    card.img-container {
        width: 95%;
    }
}